.nav{
    display: flex;
    align-items: center;
    background: rgba(94, 167, 240, 0.466);
}
.item{
    text-align: center;
    border:1px solid rgba(124, 147, 250, 0.466);
    margin: 15px;
    border-radius: 5px;
}
.item:hover{
    background: rgba(124, 147, 250, 0.466);
    border-radius: 5px;
}
.item:focus{
    border:1px solid rgba(202, 204, 212, 0.466);
}

.material-icons{
    font-size: 40px;
    margin: 0 5px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin: 0;
}