.contenedor{
    max-width: 1100px;
    margin: 10px auto;
}
.table{
    width: 100%;
    border: 2px solid rgb(71, 118, 189);
    border-radius: 5px;
    padding: 25px;
}
.elementos{
    /* border: 1px solid rgb(71, 118, 189); */
    text-align: center;
}
td{
    border-right:1px solid rgb(71, 118, 189);
    border-top:1px solid rgb(71, 118, 189);
    border-bottom:1px solid rgb(71, 118, 189);
    padding: 8px;
}
tr{
    padding: 5px;
    font-size: 15px;;
}
