<div class="contenedor">
    <div class="textos">
        <h1>Juego</h1>
        <h2>Intrucciones</h2><br>
        <p class="p">Este es un juego de 15 segundos en el cual deberas cliquear tantas veces como te sea posible 
        antes de que el tiempo acabe, cuanto el tiempo se termine tendras la cantidad de click hechos y 
        el promedio por segundo, en la sección de arriba podras ver tu puntajes totales y los puntajes de otras personas.</p>
    </div>
    <div class="contenedorJuego" id="contenedorJuego" #contenedorJuego (click)="cronometro()">
        <span class="textoJuego" #puntaje >Haga click lo más rapido con pueda en este recuadro</span>
    </div>
</div>